flows 2.json
[{"id":"7580e0.349d9f2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f71151ff.c50c4","type":"http in","z":"7580e0.349d9f2","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["3546c015.e2e53","d4f5136.f9f29f"]]},{"id":"ae276667.cd5b28","type":"http in","z":"7580e0.349d9f2","name":"Clear GPIO5","url":"/setgpio4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":380,"wires":[["cd6f0f1b.3c318","48724161.68e49"]]},{"id":"d4f5136.f9f29f","type":"function","z":"7580e0.349d9f2","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["569a76a8.5d9d58","7b904c58.6e8b34"]]},{"id":"3546c015.e2e53","type":"function","z":"7580e0.349d9f2","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["6ff2e998.09e668"]]},{"id":"7b904c58.6e8b34","type":"http response","z":"7580e0.349d9f2","name":"","statusCode":"","headers":{},"x":770,"y":80,"wires":[]},{"id":"569a76a8.5d9d58","type":"debug","z":"7580e0.349d9f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"6ff2e998.09e668","type":"rpi-gpio out","z":"7580e0.349d9f2","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":500,"y":240,"wires":[]},{"id":"cd6f0f1b.3c318","type":"function","z":"7580e0.349d9f2","name":"set to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["6ff2e998.09e668"]]},{"id":"48724161.68e49","type":"function","z":"7580e0.349d9f2","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["569a76a8.5d9d58","7b904c58.6e8b34"]]}]