flows 1.json
[{"id":"e9212551.f021a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d758af70.337a","type":"http in","z":"e9212551.f021a8","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["bc8d2acf.887b58"]]},{"id":"2ee66a30.56b156","type":"rpi-gpio in","z":"e9212551.f021a8","name":"","pin":"7","intype":"tri","debounce":"25","read":true,"x":130,"y":340,"wires":[["a61c8a1b.d9c4d8"]]},{"id":"a61c8a1b.d9c4d8","type":"function","z":"e9212551.f021a8","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["b5a3f7ae.933978"]]},{"id":"bc8d2acf.887b58","type":"function","z":"e9212551.f021a8","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["1a48fd35.fb0ac3","b5a3f7ae.933978"]]},{"id":"1a48fd35.fb0ac3","type":"http response","z":"e9212551.f021a8","name":"","statusCode":"","headers":{},"x":460,"y":180,"wires":[]},{"id":"b5a3f7ae.933978","type":"debug","z":"e9212551.f021a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":300,"wires":[]}]